

body {
	font-size: 14px;
	line-height: 24px;
	color: black;
	font-weight: bold;
	font-family: "PT Sans NarrowBold";
}

h2 {
	font-size: 30px;
	color: black;
	font-weight: bold;
	font-family: "PT Sans NarrowBold";
}

h3 {
	font-size: 24px;
	color: black;
	font-family: "PT Sans NarrowBold";
	font-weight: bold;
}

